<h1>Display#index</h1>
<p>Find me in app/views/display/index.html.erb</p>
Hello goodbye!
!

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></br>
        <%= current_user.inspect %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

  <% end %>
</div>
