
<head>

</head>
<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
 -->




      <div class="jumbotron text-center">
        <div class="container text-left back-doctores ">
          <h1 class="textoazul">Atención médica <b> ilimitada.</b></h1>

          <p class="lead">personal, y humana, en la comodidad de tu casa.</p>
            <% if !user_signed_in? %>

            <p>              
              <button type="button"  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Regístrate</button>
            </p>
            <% end %>

        </div>
           
      </div>

         <div class="jumbotron text-center playerback">

                <div class="container text-center">
                     <div class="col-lg-12 " data-toggle="modal" data-target="#myModalVideo">
                        <%= image_tag ("/assets/play.png"), :class=> "playbutton"%>
 
                      </div>
                </div>
              </div>

      <div class="jumbotron darkgrey">
        <div class="container"> 
            <div class="row ">
              <div class="col-lg-4 greenback">

              </div>
              <div class="col-lg-4 pinkback">

              </div>

               <div class="col-lg-4 yellowback">

              </div>
              
            </div>

        </div>
      </div>

      <div class="jumbotron whiteback">
        <div class="container aire30"> 
        <div class="row ">
          <div class="col-lg-4 textoazul mobilepadding">

            <h4 class="minicondensed">Visitas y Consultas</h4>
            <h5 class="sub-dos">Ilimitadas</h5>
             <%= image_tag ("/assets/devices.png"), :class=> "iconsell"%>

            <p>Ingresa a nuestra plataforma, solicita un profesional e Inmediatamente sabrás quién y en cuánto tiempo atenderá tu llamado.</p>

          </div>

          <div class="col-lg-4 textoazul mobilepadding">

            <h4 class="minicondensed">Coaching Nutricional</h4>
            <h5 class="sub-dos">A la medida.</h5>

             <%= image_tag ("/assets/manzana.png"), :class=> "iconsell" %>

            <p>Mejorar tu salud inicia con tener un buen plan nutricional, nuestros expertos crearán un plan a la medida de tus necesidades. </p>


          </div>
           <div class="col-lg-4 textoazul mobilepadding">

            <h4 class="minicondensed">Solo los mejores</h4>
            <h5 class="sub-dos">No te dejamos solo</h5>

             <%= image_tag ("/assets/doctores.png"), :class=> "iconsell "%>


            <p>Nuestros médicos estarán pendientes de tu salud hasta que estés completamente sano. Consúltalo cuando quieras, te visitará las veces que lo necesites.</p>


          </div>
        </div>
        </div>
      </div>
  
       <div class="jumbotron grey text-center  ">
        <div class="container text-left patientback">


          <h1 class="green">Humanos <br/><b>cuidando personas.</b></h1>
          <p class="lead">Tu Salud en las mejores manos.</p>
   
          <div class="col-lg-6 text-condensed nopadding mobiletext">
            <br>
                     
            En Elysa reclutamos una nueva generación de profesionales con un enfoque humano y personalizado.</br></br>

            A tu puerta más que un médico, llegará un amigo que se ocupará por manterte sano.
          </div>
        </br>

        </div>

      </div>



  

<!-- 
      <div class="jumbotron darkgrey">
        <div class="container"> 
            <div class="row ">
              <div class="col-lg-3 grey1">

              </div>
              <div class="col-lg-3 grey2">

              </div>

               <div class="col-lg-3 grey1">

              </div>
              <div class="col-lg-3 grey2">

              </div>
            </div>

        </div>
      </div>
 -->


      <div class="jumbotron darkgrey">
        <div class="container"> 
            <div class="row ">
              <div class="col-lg-3 greenback">

              </div>
              <div class="col-lg-3 pinkback">

              </div>

               <div class="col-lg-3 yellowback">

              </div>
                <div class="col-lg-3 grey2">

              </div>
              
            </div>

        </div>
      </div>


      <div class="container whiteback aire30 "> 
      <div class="row">
        <div class="col-lg-3 mobilepadding">
          <h4>Conserva tu salud</h4></br>
          <%= image_tag ("/assets/004.png") , :class=> "iconsell"%>

          <p>Prevención antes de tratamiento.</p>

        </div>

        <div class="col-lg-3 mobilepadding">
          <h4>Tiempo, valioso como tu salud</h4></br>
             <%= image_tag ("/assets/005.png") , :class=> "iconsell"%>

          <p>Atención en tus horarios, en tu casa u oficina. Sin perder tiempo.</p>


        </div>
         <div class="col-lg-3 mobilepadding">
          <h4>NO pagas consulta</h4></br>
             <%= image_tag ("/assets/006.png"), :class=> "iconsell"%>

          <p>Solicita un profesional todas las veces que lo necesites sin pagar extra.</p>


        </div>
          <div class="col-lg-3 mobilepadding">
          <h4>Sin preguntas ni requisitos.</h4></br>
             <%= image_tag ("/assets/007.png"), :class=> "iconsell"%>

          <p>Recibe atención médica siempre que lo necesites, sin ningún pero.</p>


        </div>

      </div>
      </div>
  
 



      



<!-- SlIDER -->


<!-- SlIDER -->




      <div class="jumbotron slidergrey">
        <div class="container"> 
            <div class="row ">
  
                <div class="col-lg-12 grey2">

              </div>
              
            </div>

        </div>
      </div>




            <div class="slider-wrapper hidden-xs">
                  <div class="responisve-container">
                    <div class="slider">
                      <div class="fs_loader"></div>
                      <div class="slide">   
                      <img style="margin-left:33%; margin-top:30px;" src="assets/iphones.png" 
                            data-position="100,330" data-in="bottom" data-fixed="" data-out="fade" style="width:auto; height:auto">        
                            
                            <div  class=" " data-position="230,120" data-in="top" data-step="1" data-out="bottom">
                                  <h4 class="minicondensed white text30">Atención </h4></br>
                                  <h5 class="sub-dos green text30">Ilimitada</h5>
                            </div>

                        <p    class="slidetext"     
                            data-position="230,650" data-in="bottom" data-step="1" data-out="top" >Te visitaremos las veces que sea necesario, sin pagar extra.</p>


                                        
                        <img  src="assets/App_1.png"  
                            data-position="115,360" data-in="fade" data-step="1" data-delay="" data-out="fade"></img>  
                        
                      </div>

                      <div class="slide">   
                      <img style="margin-left:33%; margin-top:30px;" src="assets/iphones.png" 
                            data-position="20,330" data-in="bottom" data-fixed="" data-out="fade" style="width:auto; height:auto">        
                         <div  class=" " data-position="230,120" data-in="top" data-step="1" data-out="bottom">
                                  <h4 class="minicondensed white text30">Atención </h4></br>
                                  <h5 class="sub-dos green text30">Ilimitada</h5>
                            </div>


                       <p    class="slidetext"     
                            data-position="230,650" data-in="bottom" data-step="1" data-out="top" >Te visitaremos las veces que sea necesario, sin pagar extra.</p>


                                        
                        <img  src="assets/App_2.png"  
                            data-position="115,360" data-in="fade" data-step="1" data-delay="" data-out="fade"></img>  
                        
                      </div>

                      <div class="slide">   
                      <img style="margin-left:33%; margin-top:30px;" src="assets/iphones.png" 
                            data-position="20,330" data-in="bottom" data-fixed="" data-out="fade" style="width:auto; height:auto">        
                         <div  class=" " data-position="230,120" data-in="top" data-step="1" data-out="bottom">
                                  <h4 class="minicondensed white text30">Atención </h4></br>
                                  <h5 class="sub-dos green text30">Ilimitada</h5>
                            </div>


                       <p    class="slidetext"     
                            data-position="230,650" data-in="bottom" data-step="1" data-out="top" >Te visitaremos las veces que sea necesario, sin pagar extra.</p>


                                        
                        <img  src="assets/App_3.png"  
                            data-position="115,360" data-in="fade" data-step="1" data-delay="" data-out="fade"></img>  
                        
                      </div>

                      <div class="slide">   
                      <img style="margin-left:33%; margin-top:30px;" src="assets/iphones.png" 
                            data-position="20,330" data-in="bottom" data-fixed="" data-out="fade" style="width:auto; height:auto">        
                         <div  class=" " data-position="230,120" data-in="top" data-step="1" data-out="bottom">
                                  <h4 class="minicondensed white text30">Atención </h4></br>
                                  <h5 class="sub-dos green text30">Ilimitada</h5>
                            </div>


                       <p    class="slidetext"     
                            data-position="230,650" data-in="bottom" data-step="1" data-out="top" >Te visitaremos las veces que sea necesario, sin pagar extra.</p>


                                        
                        <img  src="assets/App_4.png"  
                            data-position="115,360" data-in="fade" data-step="1" data-delay="" data-out="fade"></img>  
                        
                      </div>
                      <div class="slide">   
                     <img style="margin-left:33%; margin-top:30px;" src="assets/iphones.png" 
                            data-position="20,330" data-in="bottom" data-fixed="" data-out="fade" style="width:auto; height:auto">          
                         <div  class=" " data-position="230,120" data-in="top" data-step="1" data-out="bottom">
                                  <h4 class="minicondensed white text30">Atención </h4></br>
                                  <h5 class="sub-dos green text30">Ilimitada</h5>
                            </div>


                       <p    class="slidetext"     
                            data-position="230,650" data-in="bottom" data-step="1" data-out="top" >Te visitaremos las veces que sea necesario, sin pagar extra.</p>


                                        
                        <img  src="assets/App_5.png"  
                            data-position="115,360" data-in="fade" data-step="1" data-delay="" data-out="fade"></img>  
                        
                      </div>
                    </div>

                  </div>
                </div>







      <div class="jumbotron slidergrey">

      </div>






<!-- SlIDER -->



<!-- SlIDER -->





    <div class="jumbotron grey ">
            <div class="container "> 
            <div class="row aire30">
              <div class="col-lg-4 mobilepadding">

                <h4 class="minicondensed">Prevención</h4>
                <h5 class="sub-dos">Conservamos tu salud</h5>
                 <%= image_tag ("/assets/manzana.png") , :class=> "iconsell"%>

                <p>El 70% de las enfermedades pueden prevenirse con hábitos apropiados y chequeos regulares.</p>

              </div>

              <div class="col-lg-4 mobilepadding">

                <h4 class="minicondensed">Atención</h4>
                <h5 class="sub-dos">Cuidamos tu salud</h5>

                 <%= image_tag ("/assets/002.png"), :class=> "iconsell"%>

                <p>Acceso a consultas médicas ilimitadas de atención primaria en la comodidad de tu casa, justo como si fueras al consultorio.</p>


              </div>
               <div class="col-lg-4 mobilepadding">

                <h4 class="minicondensed">Canalización</h4>
                <h5 class="sub-dos">No te dejamos solo</h5>

                 <%= image_tag ("/assets/003.png"), :class=> "iconsell"%>

                <p>En caso de tener que ser canalizado podrá ser con alguno de nuestros médicos y centros de salud verificados para garantizarte la mejor atención.</p>


              </div>
            </div>
            </div>
          </div> 






          <div class="jumbotron greyhard precio">
            <div class="container"> 
                <div class="row ">
                    <div class="col-lg-8">
                      </br><h1 class="white padding30 interlineado">Obtén el servicio <b>por sólo: </b></h1>
                    </div>
                    <div class="col-lg-4 pinkback preciorosa padding30 ">
                      <div class="condensedhigh lhcondensed"></br></br>$299 </div>
                      <div class="condensedlow">mensuales</div>
                      <b>Suscripción individual. </b>
                      Todos los serivicios incluídos.</br></br>
                    </div>


                  
                </div>

            </div>
          </div>



           <div class="jumbotron text-center greensubs">
            <div class="container text-left ">
              <div class="col-lg-8">

              </br><h1 class="white interlineado">Suscríbete <b>a tu salud</b></h1>
              <p class="lead">Pre-Regístrate hoy y sé de los primeros con acceso a una suscripción.</p>
            </div>
              <div class="col-lg-3">
                </br>
              <% if !user_signed_in? %>

                <hr>
                    <button type="button" data-toggle="modal" data-target="#myModal" style="width:100%" class="btn btn-primary btn-lg">Súscribete</button>
                <hr>
              <% end %>

              </div>
            </div>
          </div>



    <!-- Modal -->
    <div class="modal fade " id="myModalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modalvideo">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><%= image_tag("/assets/012.png") %></h4>
          </div>
          <div class="modal-body text-center videowrapper">
           <iframe width="560" height="315" src="//www.youtube.com/embed/7SHW2nCpsb0" frameborder="0" allowfullscreen></iframe>
          
          </div>
          
                

          <div class="modal-footer">
           

          </div>
          

        </div><!-- /.modal-content -->

      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




    <script type="text/javascript">

    $(window).load(function(){
      $('.slider').fractionSlider({
        'fullWidth':      true,
        'controls':       false, 
        'pager':        true,
        'responsive':       true,
        'dimensions':       "1000,550",
          'increase':       false,
        'pauseOnHover':     true,
        'slideEndAnimation':  true
      });

    });


    </script>






