
<head>
<meta charset="UTF-8">
</head>
<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
 -->




      <div class="jumbotron text-center">
        <div class="container text-left back-doctores ">
          <h1 class="green">Humanos <b>cuidando personas</b></h1>

          <p class="lead">Suscripción médica ilimitada, personal, y humana, en la comidad de tu casa.</p>

            <p>              
              <%= link_to new_user_registration_path do %>
              <button type="button"  class="btn btn-primary btn-lg">Súscribete</button>
              <% end %>
            </p>

        </div>
      </div>

      <div class="jumbotron darkgrey">
        <div class="container"> 
            <div class="row ">
              <div class="col-lg-4 greenback">

              </div>
              <div class="col-lg-4 pinkback">

              </div>

               <div class="col-lg-4 yellowback">

              </div>
              
            </div>

        </div>
      </div>

      <div class="jumbotron grey">
        <div class="container"> 
        <div class="row ">
          <div class="col-lg-4">

            <h4>Prevención</h4>
            <h5 class="sub-dos">Conservamos tu salud</h5>
             <%= image_tag ("/assets/001.png")%>

            <p>El 70% de las enfermedades pueden prevenirse con hábitos apropiados y chequeos regulares.</p>

          </div>

          <div class="col-lg-4">

            <h4>Atención</h4>
            <h5 class="sub-dos">Cuidamos tu salud</h5>

             <%= image_tag ("/assets/002.png")%>

            <p>Acceso a consultas médicas ilimitadas de atención primaria en la comodidad de tu casa, justo como si fueras al consultorio.</p>


          </div>
           <div class="col-lg-4">

            <h4>Canalización</h4>
            <h5 class="sub-dos">No te dejamos solo</h5>

             <%= image_tag ("/assets/003.png")%>

            <p>En caso de tener que ser canalizado podrá ser con alguno de nuestros médicos y centros de salud verificados para garantizarte la mejor atención.</p>


          </div>
        </div>
        </div>
      </div>
  

  
      <div class="jumbotron text-center">
        <div class="container text-left">
        
          <h1 class="pink">Tu salud, <b>en la palma de tu mano<b></h1>
          <p class="lead">Un Profesional en tu puerta siempre que lo necesites. Sólo basta un toque en tu pantalla.</p>
          <div class="col-lg-4">
             <%= image_tag ("/assets/iphone.png")%>
          </div>
          <div class="col-lg-8 selling">
            <br>
                Podrás entrar a nuestra plataforma desde cualquier dispositivo.<br>
                Elige entre Consulta, Check-Up y Canalización.<br>

                Te asignaremos una cita en menos de 2 horas.<br>

                Llegaremos a donde te encuentres, tu casa o trabajo.<br>

                Al terminar recibes digital y físicamente un resumen de tu consulta.<br>

                Tendrás la opción de recibir tus medicamentos a domicilio.<br>
          </div>
        </div>
                  </br></br>

      </div>

      


      <div class="jumbotron darkgrey">
        <div class="container"> 
            <div class="row ">
              <div class="col-lg-3 grey1">

              </div>
              <div class="col-lg-3 grey2">

              </div>

               <div class="col-lg-3 grey1">

              </div>
              <div class="col-lg-3 grey2">

              </div>
            </div>

        </div>
      </div>





      <div class="container"> 
      <div class="row">
        <div class="col-lg-3">
          <h4>Conserva tu salud</h4></br>
          <%= image_tag ("/assets/004.png") %>

          <p>Prevención antes de tratamiento.</p>

        </div>

        <div class="col-lg-3">
          <h4>Tu tiempo, tan valioso como tu salud</h4></br>
             <%= image_tag ("/assets/005.png")%>

          <p>Atención en tus horarios, en tu casa u oficina.</p>


        </div>
         <div class="col-lg-3">
          <h4>NO pagas consulta</h4></br>
             <%= image_tag ("/assets/006.png")%>

          <p>Solicita un profesional todas las veces que lo necesites sin pagar más.</p>


        </div>
          <div class="col-lg-3">
          <h4>Sin preguntas ni requisitos.</h4></br>
             <%= image_tag ("/assets/007.png")%>

          <p>La suscripción a Elysa es para cualquiera, sin importar tu condición..</p>


        </div>

      </div>
      </div>
  
 


       <div class="jumbotron grey text-center  ">
        <div class="container text-left patientback">


          <h1 class="green">Sólo <b>los mejores</b></h1>
          <p class="lead">Tu Salud en las mejores manos.</p>
   
          <div class="col-lg-6 text-condensed">
            <br>
         
  En Elysa reclutamos una nueva generación de profesionales con un enfoque humano y personalizado.</br></br>
Más de 250 profesionales de la salud a tu alcance, desde médicos generales y especializados, hasta nutriólogos y psicólogos. Todos cuidando de ti.</br></br>

A tu puerta más que un médico, llegará un amigo que se ocupará por manterte sano.
          </div>
        </br>

        </div>

      </div>






       <div class="jumbotron text-center greensubs">
        <div class="container text-left ">
          <div class="col-lg-8">

          </br><h1 class="white">Suscríbete <b>a tu salud</b></h1>
          <p class="lead">Pre-Regístrate hoy y sé de los primeros con acceso a una suscripción.</p>
        </div>
          <div class="col-lg-3">
          <!--   <div class="input-group">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="ingresa tu e-mail">
            </div> -->
            <hr>
            <a href=" <%=  new_user_registration_path %>">
                <button type="button" style="width:100%" class="btn btn-primary btn-lg">Súscribete</button>
            </a>
            <hr>
            <a href=" <%=  user_omniauth_authorize_path(:facebook) %>">

            <button type="button" style="width:100%" class="btn btn-primary btn-lg">Ingresar con FB.</button>
            </a>



          </div>


   


        </div>
      </div>


      <div class="jumbotron text-left greenlight">

        <div class="container"> 
        <div class="row">
          <div class="col-lg-3">

            Blog</br>
            Cómo Funciona</br>
            Precios</br>
            Suscribe a un Familiar</br>
            Regístrate</br>
            Contacto</br>
            </br>

          </div>



          </div>

        </div>
      </div>


<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></br>
        <%= current_user.inspect %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

  <% end %>
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog registro">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= image_tag("/assets/012.png") %></h4>
      </div>
      <div class="modal-body">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= link_to "Registrarme con Facebook",user_omniauth_authorize_path(:facebook, :zipcode=>'12345'), :class=> "btn btn-lg btn-block btn-facebook " %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>

        <div><%= f.label :password %><br />
        <%= f.password_field :password, :class => "form-control" %></div>

        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation , :class => "form-control"%></div>

        <div></div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Enviar", :class=> "btn btn-primary" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <% end %>      

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
