<!DOCTYPE html>
<html>
<head>
  <title>Elysa</title>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'elysa' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'fractionslider' %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "jquery.fractionslider" %>
  <%= javascript_include_tag "elysa" %>




  <%= csrf_meta_tags %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

	<div class="container-full">

<%= request.env['omniauth.params'] %>


      <div class="jumbotron greenback nav1">
        <div class="container "> 
         

        </div>
      </div>
      
   <!--    <div class="navbar navbar-default">
        <div class="container text-left">


           <div class="navbar-header">
            <a class="navbar-brand" href="#"><div class="logo"></div></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">¿Cómo funciona?</a></li>
              <li><a href="#">Precios</a></li>
            </ul>
          </div>
        </div>
      </div> -->


      <div class="jumbotron ">
        <div class="container"> 
            <div class="row nav2">
              <div class="col-lg-4 ">
             
                <%= link_to image_tag("/assets/012.png"), root_path %>

                </li> 
              </div>
            </div>
          </div>
        </div>


        <!-- Menu -->



      <div class="jumbotron darkgrey">
        <div class="container "> 
            <div class="row ">
              <%= link_to 'http://elysaco.tumblr.com/' do %>

                <div class="col-lg-2 grey2 men1 nav1 hidden-xs">

                </div>
              <% end %>
              <a href="#">
                <div class="col-lg-2 col-md-offset-8 greenback men1 nav1 hidden-xs">

                </div>
              </a>
            </div>
          </div>
        </div>


      <div class="jumbotron ">
        <div class="container "> 
        <div class="row menpill">

              <%= link_to 'http://elysaco.tumblr.com/' do %>
                 <div class="col-lg-2  men1 nav1 linkmen  hidden-xs">
                    Blog
                  </div>
              <% end %>

 
     

                  <% if user_signed_in? %>
                      <div class="col-lg-2 col-md-offset-8  men1 nav1 pointer linkmen  hidden-xs">¡Hola <%= current_user.name %>! 
                       <%= link_to "   >Salir", destroy_user_session_path, :method => :delete %></br>

                      </div>
                  <% else %>
                     <div class="col-lg-2 col-md-offset-8  men1 nav1 pointer linkmen  hidden-xs" data-toggle="modal" data-target="#myModal">
                            Registrate
                          </div>

                  <% end %>
            </div>
          </div>
        </div>





<%= yield %>


      <div class="jumbotron text-left greenlight centeronmobile">

        <div class="container"> 
        <div class="row">
          <div class="col-lg-3 hidden-xs">
          <%= link_to "Blog", 'http://elysaco.tumblr.com/' %></br>

           <% if !user_signed_in? %>
          <div class="pointer " data-toggle="modal" data-target="#myModal">
                  Registra a un familiar
                </div>
       
          <div class="pointer " data-toggle="modal" data-target="#myModal">
                  Registrate
                </div>
                <% end %>
            Contacto</br>
            </br>

          </div>
          <div class="col-lg-3 col-md-offset-6 text-right centeronmobile">

           <%= link_to image_tag("/assets/logofooter.png"), root_path %></br>
           <%= link_to image_tag("/assets/s1.png"), "http://facebook.com/saludelysa" %>
           <%= link_to image_tag("/assets/s2.png"), "http://twitter.com/saludelysa" %>
           <%= link_to image_tag("/assets/s3.png"), "http://www.youtube.com/watch?v=7SHW2nCpsb0" %></br>
            Elysa servicios S.A.P.I de C.V</br>


          </div>



          </div>

        </div>
      </div>

</div> <!-- /container full -->


</body>
</html>


<!-- 
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.name %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></br>
        <%= current_user.inspect %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

  <% end %>
</div> -->


<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog registro">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= image_tag("/assets/012.png") %></h4>
      </div>
      <div class="modal-body ">
          <%= link_to "Registrate con Facebook",user_omniauth_authorize_path(:facebook, :zipcode=>'12345'), :class=> "btn btn-lg btn-block btn-facebook " %> 
          <hr>

          <div id ="formregistro" class="hide">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div><%= f.label :Nombre %><br />
              <%= f.text_field :name,  :autofocus => true, :class => "form-control" , :required => true%></div>

              <div><%= f.label :Email %><br />
              <%= f.email_field :email, :class => "form-control" , :required => true%></div>

              <div><%= f.label :Contraseña %><br />
              <%= f.password_field :password, :class => "form-control" , :required => true %></div>

              <div><%= f.label :Confirma_tu_contraseña %><br />
              <%= f.password_field :password_confirmation , :class => "form-control", :required => true%></div>

              <div><%= f.label :Código_postal %><br />
                <%= f.number_field :zipcode , :class => "form-control",  :maxlength => 5, :required => true  %>
              </div>

        
              <div><%= f.label :Género %><br />
                <%= f.select(:gender, ['Hombre', 'Mujer'], {}, { :class => 'form-control', :required => true}) %>
              </div>
                       </br>

              <div><%= f.label :Fecha_de_nacimiento %><br />
              <%= f.date_select :birthday, { :order => [:year, :month, :day], :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], :start_year  => 1920, :end_year => 2000 , :required => true}, {:class => "form-control date-select", :required => true} %>

              </div>

             </br>

             </br>
             </br>




              <%= f.submit " Enviar ", :class=> "btn btn-primary btn-block btn-lg" %>
         
              <% end %>  
          </div>
           <button type="button" id="divregistro" onClick="showregistro();"  class="btn btn-primary btn-block btn-lg" >Regístrate con tu correo </button>
      
      </div>
      
            

      <div class="modal-footer">
       
        <div class="conditions text-center">
          Al registrarte aceptas nuestros términos y condiciones.
        </div>   

      </div>
      

    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

