<!DOCTYPE html>
<html>
<head>
  <title>Elysa</title>
  <%= stylesheet_link_tag 'bootstrap' %>
   <%= stylesheet_link_tag 'elysa' %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>

  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-full">

<%= request.env['omniauth.params'] %>


      <div class="jumbotron greenback nav1">
        <div class="container "> 
         

        </div>
      </div>
      
   <!--    <div class="navbar navbar-default">
        <div class="container text-left">


           <div class="navbar-header">
            <a class="navbar-brand" href="#"><div class="logo"></div></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">¿Cómo funciona?</a></li>
              <li><a href="#">Precios</a></li>
            </ul>
          </div>
        </div>
      </div> -->


      <div class="jumbotron ">
        <div class="container"> 
            <div class="row nav2">
              <div class="col-lg-4 ">
             
                <%= link_to image_tag("/assets/012.png"), root_path %>

                </li> 
              </div>
            </div>
          </div>
        </div>


        <!-- Menu -->



      <div class="jumbotron darkgrey">
        <div class="container "> 
            <div class="row ">
              <a href="#como">
                <div class="col-lg-2 grey2 men1 nav1">

                </div>
              </a>
              <a href="#blog">
                <div class="col-lg-2 grey2 men1 nav1">

                </div>
              </a>
              <a href="#regis">
                <div class="col-lg-2 col-md-offset-6 greenback men1 nav1">

                </div>
              </a>
            </div>
          </div>
        </div>


      <div class="jumbotron ">
        <div class="container "> 
        <div class="row menpill">
              <a href="#como">
                <div class="col-lg-2  men1 nav1">
                  ¿Cómo funciona?
                </div>
              </a>

              <%= link_to 'http://elysaco.tumblr.com/' do %>
                 <div class="col-lg-2  men1 nav1">
                    Blog
                  </div>
              <% end %>


                <div class="col-lg-2 col-md-offset-6  men1 nav1 pointer" data-toggle="modal" data-target="#myModal">
                  Registrate
                </div>
            </div>
          </div>
        </div>





<%= yield %>

</div> <!-- /container full -->


</body>
</html>

<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog registro">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= image_tag("/assets/012.png") %></h4>
      </div>
      <div class="modal-body">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= link_to "Registrarme con Facebook",user_omniauth_authorize_path(:facebook, :zipcode=>'12345'), :class=> "btn btn-lg btn-block btn-facebook " %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>

        <div><%= f.label :password %><br />
        <%= f.password_field :password, :class => "form-control" %></div>

        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation , :class => "form-control"%></div>

        <div></div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Enviar", :class=> "btn btn-primary" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <% end %>      

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

