<!DOCTYPE html>
<html>
<head>
  <title>Elysa</title>
  <%= stylesheet_link_tag 'bootstrap' %>
   <%= stylesheet_link_tag 'elysa' %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "elysa" %>



  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-full">

<%= request.env['omniauth.params'] %>


      <div class="jumbotron greenback nav1">
        <div class="container "> 
         

        </div>
      </div>
      
   <!--    <div class="navbar navbar-default">
        <div class="container text-left">


           <div class="navbar-header">
            <a class="navbar-brand" href="#"><div class="logo"></div></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">¿Cómo funciona?</a></li>
              <li><a href="#">Precios</a></li>
            </ul>
          </div>
        </div>
      </div> -->


      <div class="jumbotron ">
        <div class="container"> 
            <div class="row nav2">
              <div class="col-lg-4 ">
             
                <%= link_to image_tag("/assets/012.png"), root_path %>

                </li> 
              </div>
            </div>
          </div>
        </div>


        <!-- Menu -->



      <div class="jumbotron darkgrey">
        <div class="container "> 
            <div class="row ">
              <a href="#como">
                <div class="col-lg-2 grey2 men1 nav1">

                </div>
              </a>
              <a href="#">
                <div class="col-lg-2 grey2 men1 nav1">

                </div>
              </a>
              <a href="#">
                <div class="col-lg-2 col-md-offset-6 greenback men1 nav1">

                </div>
              </a>
            </div>
          </div>
        </div>


      <div class="jumbotron ">
        <div class="container "> 
        <div class="row menpill">
              <a href="#como">
                <div class="col-lg-2  men1 nav1 linkmen">
                  ¿Cómo funciona?
                </div>
              </a>

              <%= link_to 'http://elysaco.tumblr.com/' do %>
                 <div class="col-lg-2  men1 nav1 linkmen">
                    Blog
                  </div>
              <% end %>

 
                <div class="col-lg-2 col-md-offset-6  men1 nav1 pointer linkmen" data-toggle="modal" data-target="#myModal">
                  Registrate
                </div>
            </div>
          </div>
        </div>





<%= yield %>


      <div class="jumbotron text-left greenlight">

        <div class="container"> 
        <div class="row">
          <div class="col-lg-3">

            Blog</br>
            Cómo Funciona</br>
            Precios</br>
            Suscribe a un Familiar</br>
            Regístrate</br>
            Contacto</br>
            </br>

          </div>



          </div>

        </div>
      </div>

</div> <!-- /container full -->


</body>
</html>



<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></br>
        <%= current_user.inspect %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

  <% end %>
</div>


<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog registro">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= image_tag("/assets/012.png") %></h4>
      </div>
      <div class="modal-body ">
          <%= link_to "Registrate con Facebook",user_omniauth_authorize_path(:facebook, :zipcode=>'12345'), :class=> "btn btn-lg btn-block btn-facebook " %> 
          <hr>

          <div id ="formregistro" class="hide">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div><%= f.label :name %><br />
              <%= f.text_field :name,  :autofocus => true, :class => "form-control" , :required => true%></div>

              <div><%= f.label :Email %><br />
              <%= f.email_field :email, :class => "form-control" , :required => true%></div>

              <div><%= f.label :Contraseña %><br />
              <%= f.password_field :password, :class => "form-control" , :required => true%></div>

              <div><%= f.label :Confirma_tu_contraseña %><br />
              <%= f.password_field :password_confirmation , :class => "form-control", :required => true%></div>

               <div><%= f.label :birthday %><br />
              <%= f.date_select :birthday,:start_year => 1920, :class => "form-control date" , :required => true%></div>

              <div><%= f.label :gender %><br />
              <%= f.select :gender, options_for_select(%w[Hombre Mujer]) , :required => true%></div>

            </br>

              <%= f.submit "Enviar", :class=> "btn btn-primary" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <% end %>  
          </div>
      </div>
      
      <div id="formregistro" onClick="showregistro();" class="registcorreo text-center">
        Regístrate con tu correo electrónico.
      </div>
      </br>

      <div class="modal-footer">
       
        <div class="conditions text-center">
          Al registrarte aceptas nuestros términos y condiciones.
        </div>   

      </div>
      

    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

